.footer {
    &__container {
        max-width: 1440px;
        width: 100%;
        padding: 0 150px;
        margin: 0 auto;
        
        @media ($lt) {
            padding: 0 50px;
        }
        @media ($tb) {
            padding: 0 24px;
        }
        @media ($mb) {
            padding: 0 15px;
        }
    }

    &__top {
        @include flex($jc: space-between);
        padding-top: 54px;
        
        @media screen and ($tb) {
            flex-direction: column;
            padding-top: 60px;
        }
        @media screen and ($mb) {
            padding-top: 40px;
        }
    }

    &__logo {
        display: block;
        flex-shrink: 0;
        width: 184.36px;
        height: 40px;
        margin-right: 50px;

        &:hover &-svg {
            fill: $blue-1;
        }

        @media screen and ($tb) {
            margin-right: 0;
            margin-bottom: 34px;
        }
        @media screen and ($mb) {
            width: 158px;
            height: 34px;
            margin-bottom: 31px;
        }
    }
    &__logo-svg {
        width: 100%;
        height: 100%;
        fill: $white;
        transition: $anim;
    }

    .info {
        max-width: 827px;
        display: grid;
        grid-template-columns: repeat(3,1fr 244px 200px);
        column-gap: 102px;
        padding-top: 7px;
        
        @media screen and ($lt) {
            max-width: 720px;
            column-gap: 70px;
        }
        @media screen and ($tb) {
            display: flex;
            justify-content: space-between;
            padding-right: 58px;
        }
        @media screen and ($mb) {
            display: grid;
            grid-template-columns: 130px 215px;
            row-gap: 26px;
            column-gap: 0;
            padding-right: 0;
        }
        
        &__column,
        &__column-contact .info__item {
            @include flex();
            flex-direction: column;
        }

        &__column {
            margin: -7.5px 0;

            @media screen and ($mb) {
                margin: 0;
            }
        }

        &__item {
            padding: 7.5px 0;
        }

        &__column-contact {
            @media screen and ($mb) {
                grid-column: 1/3;
            }
        }

        &__column-contact .info__link {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
        }
        &__column-contact .info__link-address {
            font-size: 16px;
        
            @media screen and ($tb) {
                font-size: 14px;
            }
        }

        &__link {
            @include text-16;
            color: $white;
            transition: $anim;

            &:hover {
                color: $blue-1;
            }
        
            @media screen and ($tb) {
                font-size: 14px;
            }
        }

        &__name {
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
            color: $white;
            opacity: .6;
            margin-bottom: 5px;
        }
    }

    &__person {
        outline: none;
        max-width: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue-1;
        border-radius: 25px;
        padding: 10px 22px;
        transition: $anim;

        @media screen and ($tb) {
            &.header__control-item {
                margin-left: auto;
            }
        }

        &:hover {
            background-color: $blue-3;
        }
    }
    &__person-text {
        font-size: 14px;
        font-weight: 600;
        line-height: 100%;
        color: $white;
    }
    &__person-svg {
        fill: $white;
        margin-right: 7px;
    }

    .social {
        @include flex($al: center);
        margin: 14px 0 -30px;
        
        @media screen and ($tb) {
            margin: 16px 0 -30px;
        }
        @media screen and ($mb) {
            margin: 16px 0 41px;
        }

        &__item:not(:first-child) {
            margin-left: 20px;
        }

        &__link {
            @include flex($al: center, $jc: center);
            width: 35px;
            height: 35px;
            background-color: $white;
            opacity: .9;
            border-radius: 50%;
            transition: $anim;

            &:hover {
                opacity: 1;
            }
        }
        &__link-svg {
            fill: $blue-1;
        }
    }

    &__bottom {
        margin-top: 40px;
        background-color: $grey-3;
    }
    &__bottom .footer__container {
        @include flex($al: center, $jc: space-between);
        flex-wrap: wrap;
        padding: 14px 150px 15px;
        
        @media screen and ($lt) {
            padding: 14px 50px 15px;
        }
        @media screen and ($tb) {
            padding: 14px 24px 15px;
        }
        @media screen and ($mb) {
            justify-content: center;
            padding: 14px 15px 15px;
            margin: 0;
        }
    }
    &__bottom-text {
        @include text-14;
        opacity: .9;
        color: $white;
        margin: 5px 0;
        
        @media screen and ($mb) {
            margin: 2px 10px;
        }
    }
}