.header {
    position: relative;
    z-index: 11;
    background-color: $white;

    &__container {
        max-width: 1440px;
        width: 100%;
        padding: 0 150px;
        margin: 0 auto;
        
        @media ($lt) {
            padding: 0 50px;
        }
        @media ($tb) {
            padding: 0 24px;
        }
        @media ($mb) {
            padding: 0 15px;
        }
    }

    &__desc {
        @media screen and ($tb) {
            position: fixed;
            z-index: 10;
            top: 81px;
            right: -100%;
            max-width: 40%;
            width: 100%;
            height: calc(100% - 81px);
            background-color: $white;
            overflow-y: auto;
            padding: 20px 15px;
            transition: $anim;
        }
        @media screen and ($mb) {
            top: 71px;
            height: calc(100% - 71px);
        }
        @media screen and ($xs) {
            max-width: 100%;
        }
    }
    &__desc.active {
        @media screen and ($tb) {
            right: 0;
    
            .header__logo,
            .header__person {
                display: none;
            }
    
            .header__top {
                flex-direction: column-reverse;
                padding: 0 0 15px;
            }
    
            .header__apartment {
                flex-direction: column;
                margin: 10px 0 0;
            }

            .header__apartment-link {
                margin: 6px 0;
            }
    
            .header__control {
                flex-wrap: wrap;
                justify-content: center;
                margin: 0 0 -10px;
            }
    
            .header__control-item,
            #header__who-button {
                flex-shrink: 0;
                margin: 5px 7px;
            }
            
            .header__bottom {
                padding: 15px 0 20px;
            }
    
            .nav__list {
                flex-direction: column;
            }

            .nav__item {
                text-align: center;
                padding: 5px 0;
            }
        }
        
        @media screen and ($xs) {
            .header__control-item,
            #header__who-button {
                max-width: 100%;
                width: 100%;
            }
            
        }
    }

    &__top {
        @include flex($al: center, $jc: space-between);
        padding: 22px 0 20px;
    }

    &__logo {
        flex-shrink: 0;
        width: 184.36px;
        height: 40px;

        &:hover &-svg {
            fill: $blue-3;
        }

        @media screen and ($mb) {
            width: 158px;
            height: 34px;
        }
    }
    &__logo-svg {
        width: 100%;
        height: 100%;
        fill: $blue-1;
        transition: $anim;
    }

    &__apartment {
        @include flex($al: center, $jc: center);
        margin: -2px -17.5px -2px 5px;
        
        @media ($lt) {
            flex-wrap: wrap;
            margin-left: -2px -17.5px;
        }
    }
    &__apartment-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-decoration-line: underline;
        color: $black;
        opacity: 0.33;
        margin: 2px 14.5px;
    }
    
    &__control {
        @include flex($al: center);
        flex-shrink: 0;
    }
    &__control-item:not(:first-child) {
        margin-left: 15px;
    }

    #header__who-button {
        outline: none;
        max-width: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        background-color: transparent;
        border: 1px solid $blue-1;
        border-radius: 25px;
        padding: 10px 17px;
        margin-right: 0;
        transition: $anim;
        
        &.ui-selectmenu-button-open .header__who-svg {
            transform: rotateX(180deg);
        }

        &:hover {
            background-color: $blue-1;
            border: 1px solid $white;

            .ui-selectmenu-text {
                color: $white;
            }
    
            .header__who-svg {
                background: url(../../img/icons/i-arrow-small-white.svg) center no-repeat !important;
            }
        }
    }
    #header__who-button .ui-selectmenu-text {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: $blue-1;
        margin-right: 7px;
    }
    &__who-svg {
        background: url(../../img/icons/i-arrow-small-blue.svg) center no-repeat !important;
    }

    &__connect {
        outline: none;
        @include flex($al: center, $jc: center);
        background-color: $blue-2;
        border-radius: 25px;
        padding: 10px 22px;
        transition: $anim;

        &:hover {
            background-color: $blue-1;

            .header__connect-text {
                color: $white;
            }
        }
    }
    &__connect-text {
        font-size: 14px;
        font-weight: 600;
        line-height: 100%;
        color: $blue-1;
        transition: $anim;
    }
    
    &__person {
        outline: none;
        max-width: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue-1;
        border-radius: 25px;
        padding: 10px 22px;
        transition: $anim;

        @media screen and ($tb) {
            &.header__control-item {
                margin-left: auto;
            }
        }
        
        @media screen and ($mb) {
            padding: 11px;
        }

        &:hover {
            background-color: $blue-3;
        }
    }
    &__person-text {
        font-size: 14px;
        font-weight: 600;
        line-height: 100%;
        color: $white;
        
        @media screen and ($mb) {
            font-size: 0;
            line-height: 0;
        }
    }
    &__person-svg {
        fill: $white;
        margin-right: 7px;
        
        @media screen and ($mb) {
            margin-right: 0;
        }
    }

    &__bottom {
        border-top: 1px solid $grey-2;
        padding: 26px 0 23px;
    }

    .nav__list {
        @include flex($al: center, $jc: space-between);
    }
    .nav__link {
        @include text-16;
        color: $black;
        transition: $anim;        

        &:hover {
            color: $blue-1;
        }
    }

    &__mob {
        display: none;
        padding: 21px 0 20px;
        
        @media screen and ($tb) {
            @include flex($al: center, $jc: space-between);
            width: 100%;
        }
        @media screen and ($mb) {
            padding: 15px 0 16px;
        }
    }

    .burger {
        position: relative;
        width: 40px;
        height: 40px;
        @include flex($al: center, $jc: center);
        flex-direction: column;
        background-color: transparent;
        border: none;
        margin-left: 20px;

        @media screen and ($mb) {
            margin-left: 15px;
        }
    }
    .burger__item {
        width: 35px;
        height: 3.8px;
        background-color: $black;
        border-radius: 100px;
        transition: $anim;

        &:first-child,
        &:last-child {
            position: absolute;
            left: 2.5px;
        }
        &:first-child {
            top: 7.5px;
        }
        &:last-child {
            bottom: 7.5px;
        }
    }
    .burger.js-burger-close .burger__item {
        &:first-child,
        &:last-child {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 30px;
        }
        &:first-child {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &:last-child {
            bottom: auto;
            transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:nth-child(2) {
            opacity: 0;
        }
    }
}

#header__who-menu {
    position: absolute;
    top: 4px;
    border-color: $blue-1;
    border-radius: 25px;
    padding: 12px 20px;

    .ui-menu-item-wrapper {
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        color: #5bc3e3;
        border: none;
        padding: 6px 0;
        transition: $anim;
        margin: 0;
    }
    .ui-menu-item-wrapper.ui-state-active {
        background-color: transparent;
        color: $blue-3;
    }
}